<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
      <img src="<%= params['photo'] %>"><br>
      <h1><%= params['name'] %></h1>
      <strong>Age:</strong> <%= params['age'] %><br>
      <strong>Star Sign:</strong> <%= params['star_sign'] %><br>
      <strong>Favorite Color:</strong> <%= params['color'] %><br>
      <strong>Hometown:</strong> <%= params['hometown'] %><br>
      <strong>What TV show did you watch most recently?</strong> <%= params['tv'] %><br>
  </body>
</html>
